


<div class="document-upload-panel">
        <h3>Documents Uploaded</h3>
        <mat-form-field class="file-upload">
            <input matInput type="file">
        </mat-form-field>
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Name of the Document</mat-card-title>
                <mat-card-subtitle>Uploaded on : 01.01.2019</mat-card-subtitle>
                <a href="#" class="delete-document">X</a>
            </mat-card-header>
            
        </mat-card>
        <br>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Name of the Document</mat-card-title>
                <mat-card-subtitle>Uploaded on : 01.01.2019</mat-card-subtitle>
                <a href="#" class="delete-document">X</a>
            </mat-card-header>
        </mat-card>
        <br>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Name of the Document</mat-card-title>
                <mat-card-subtitle>Uploaded on : 01.01.2019</mat-card-subtitle>
                <a href="#" class="delete-document">X</a>
            </mat-card-header>
        </mat-card>
        <br>
    </div>
</div>

    

