




<div class="custom">
  <button class="create-button scounting" [disabled]="isDisabled" (click)=createProject()>1. Scounting Round</button>
  <!-- <i class="material-icons">arrow_forward_ios</i>     -->
  <button class="create-button deepdive" (click)=createProject()>2. Deep Dive</button>
  <button class="create-button" (click)=createProject()>3. Concept Study</button>
  <button class="create-button" (click)=createProject()>4. Prestudy</button>
  <button class="create-button" (click)=createProject()>5. Question Zero</button>  
  <button class="create-button contract" (click)=createProject()>6. Contract</button>
  <button class="create-button kickoff" (click)=createProject()>7. Kick Off</button>
  <button class="create-button" (click)=createProject()>8. Concept Study</button>
  <button class="create-button appstudy" (click)=createProject()>9. Application study</button>
  <button class="create-button handover" (click)=createProject()>10. Handiling Over</button>
  <button class="create-button pitch" (click)=createProject()>11. Pitch</button>
  <button class="create-button dev" (click)=createProject()>12. Development</button>
  <button class="create-button" (click)=createProject()>13. Product</button>
</div>