
<div class="custom">
  <button class="create-button scounting" (click)=createProject()>Scouting Round</button>
  <i class="material-icons">arrow_forward_ios</i>    
    
  <button class="create-button" (click)=createProject()>Deep Dive</button>
    

  <button class="create-button" (click)=createProject()>Concept Study</button>
     
    
  <button class="create-button" (click)=createProject()>Prestudy</button>

  
    
    
  <button class="create-button" (click)=createProject()>Question Zero</button>
   
    
  <button class="create-button" (click)=createProject()>Contract</button>
     
    
  <button class="create-button" (click)=createProject()>Kick Off</button>

  <button class="create-button" (click)=createProject()>Concept Study</button>
   

  <button class="create-button" (click)=createProject()>Application study</button>
     

  <button class="create-button" (click)=createProject()>Handiling Over</button>
     

  <button class="create-button" (click)=createProject()>Pitch</button>

  <button class="create-button" (click)=createProject()>Development</button>
   
  <button class="create-button" (click)=createProject()>Product</button>

  

    
  
</div>