.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
    

  }
  
  .example-full-width {
    width: 100%;
  }
  
  
  .button {

    display: inline-block;
    border-radius: 4px;
    background-color: #a09e9d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    margin-top: 2%;
    }
  
  
  .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
   
  
  
  
  