<div class="filter">
  <div>
    <button class="create-button" (click)=createProject()>Create Project</button>
  </div>

           <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>All </span>
             <!--      <div *ngIf=isAllSelected>
                       <projects-list [categoryID]="2"></projects-list>
                   </div>-->

                  </button>

  <button class="button" style="vertical-align:middle" (click)=loadProjectListScouting()><span>Scounting Round </span></button>
  <div *ngIf="categoryID==='1'">
      <projects-list [categoryID]="categoryID"></projects-list>
    </div>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>Prestudy</span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>DeepDive</span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>Concept Study1</span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>Question0 </span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>Contract</span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>KickOff</span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>Concept Study2</span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>Application Study </span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>Handover</span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>Pitch</span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>Development</span></button>
  <button class="button" style="vertical-align:middle" (click)=loadProjectList()><span>Product</span></button>
</div>

