<div class="filter">
  <div>
    <button class="create-button" (click)=createProject()>Create Project</button>
  </div>

           <button class="button" style="vertical-align:middle" (click)='loadProjectList("0")'><span>All </span>
             <!--      <div *ngIf=isAllSelected>
                       <projects-list [categoryID]="2"></projects-list>
                   </div>-->

                  </button>

  <button class="button" style="vertical-align:middle" (click)='loadProjectList("1")'><span>Scounting Round </span></button>
  <!-- <div *ngIf="categoryID==='1'">
      <projects-list [categoryID]="categoryID"></projects-list>
    </div> -->
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("2")'><span>Prestudy</span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("3")'><span>DeepDive</span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("4")'><span>Concept Study1</span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("5")'><span>Question0 </span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("6")'><span>Contract</span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("7")'><span>KickOff</span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("8")'><span>Concept Study2</span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("9")'><span>Application Study </span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("10")'><span>Handover</span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("11")'><span>Pitch</span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectList("12")'><span>Development</span></button>
  <button class="button" style="vertical-align:middle" (click)='loadProjectListx("13")'><span>Product</span></button>
</div>

