<div class="flowchart-panel">
  <div class="project-title">
    <h2>Project - {{selectedProjectID}}</h2>
  </div>
  <div class="flowchart">

  </div>
</div>


<div class="document-upload-panel">
        <h3>Documents Uploaded </h3>
    <div class="file-upload">
      <input type="file" id="file_upload">
    </div>
      <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Name of the Document</mat-card-title>
                <mat-card-subtitle>Uploaded on : 01.01.2019</mat-card-subtitle>
                <a href="#" class="delete-document">X</a>
            </mat-card-header>

        </mat-card>
        <br>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Name of the Document</mat-card-title>
                <mat-card-subtitle>Uploaded on : 01.01.2019</mat-card-subtitle>
                <a href="#" class="delete-document">X</a>
            </mat-card-header>
        </mat-card>
        <br>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Name of the Document</mat-card-title>
                <mat-card-subtitle>Uploaded on : 01.01.2019</mat-card-subtitle>
                <a href="#" class="delete-document">X</a>
            </mat-card-header>
        </mat-card>
        <br>
    </div>
</div>



